<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.model.workspaceprovider">
      <WorkspaceProvider
            class="org.eclipse.emf.ecp.emfstorebridge.EMFStoreECPWorkspaceProvider">
      </WorkspaceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.ecp.emfstorebridge.xmiAdd"
            nameFilter="*.library"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.ecp.emfstorebridge.actions.AddXMIAction"
               id="org.eclipse.emf.ecp.emfstorebridge.addXMI"
               label="Add to EMF Client Platform">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.ecp.emfstorebridge.xmiImport"
            nameFilter="*.library"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.ecp.emfstorebridge.actions.ImportXMIAction"
               id="org.eclipse.emf.ecp.emfstorebridge.actions.xmiImport"
               label="Import to EMF Client Platform">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.emf.emfstore.client.ui.decorators.VersionDecorator"
            id="org.eclipse.emf.emfstore.client.ui.decorators.VersionDecorator"
            label="Version Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.emfstore.client.model.ProjectSpace">
            </objectClass>
         </enablement>
         <description>
            Shows version of current project.
         </description>
      </decorator>
      <decorator
            adaptable="true"
            class="org.eclipse.emf.emfstore.client.ui.decorators.UsernameDecorator"
            id="org.eclipse.emf.emfstore.client.ui.decorators.UsernameDecorator"
            label="Username Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.emfstore.client.model.ProjectSpace">
            </objectClass>
         </enablement>
         <description>
            Shows the username for the current session.
         </description>
      </decorator>
      <decorator
            adaptable="true"
            class="org.eclipse.emf.emfstore.client.ui.decorators.ProjectSpaceDirtyDecorator"
            id="org.eclipse.emf.emfstore.client.ui.decorators.ProjectSpaceDirtyDecorator"
            label="ProjectSpaceDirty Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.emfstore.client.model.ProjectSpace">
            </objectClass>
         </enablement>
         <description>
            If the porject has local changes.
         </description>
      </decorator>
      <decorator
            adaptable="true"
            class="org.eclipse.emf.emfstore.client.ui.decorators.ModelElementDirtyDecorator"
            id="org.eclipse.emf.emfstore.client.ui.decorators.ModelElementDirtyDecorator"
            label="ModelElement Dirty Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
         <description>
            If the project has local changes.
         </description>
      </decorator>
   </extension>

   <extension
         point="org.eclipse.emf.ecp.common.modelelementopener">
      <ModelElementOpener
            class="org.eclipse.emf.ecp.emfstorebridge.ProjectSpaceOpener"
            name="org.eclipse.emf.ecp.emfstorebridge.ProjectSpaceOpener">
      </ModelElementOpener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?before=additions">
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.commitProject"
               disabledIcon="icons/advanced.gif"
               icon="icons/arrow_right.png"
               label="Commit Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.emfstore.client.ui.commands.projectIsShared"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.updateProject"
               icon="icons/arrow_up.png"
               label="Update Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.emfstore.client.ui.commands.projectIsShared"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.updateProjectVersion"
               icon="icons/arrow_up.png"
               label="Update to version..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.emfstore.client.ui.commands.projectIsShared"
                           value="true">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.emfstore.client.ui.commands.isAdmin"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.shareProject"
               icon="icons/arrow_out.png"
               label="Share  Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.emfstore.client.ui.commands.projectIsShared"
                           value="false">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.emfstore.client.ui.undoRevertCommands"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.undoLastOperation"
               icon="icons/arrow_undo.png"
               label="Undo Last Operation"
               style="push"
               tooltip="Undo the last executed operation">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.revert"
               icon="icons/revert.png"
               label="Revert All Operations"
               style="push"
               tooltip="Reverts all operations since last commit">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.emfstore.client.ui.additionalCommands"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.commands.showHistory"
               icon="icons/historyview.png"
               label="Show History"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        args="org.eclipse.emf.emfstore.client.ui.commands.showHistory"
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecp.common.menuContributionsEnablementTester"
                        value="true">
                  </test>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.emfstore.client.ui.commands.projectIsShared"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.emfstore.client.ui.otherCommands"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.deleteProject"
               icon="icons/delete.gif"
               label="Delete Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <menu
               icon="icons/createrepos.gif"
               id="org.eclipse.emf.emfstore.client.ui.Other"
               label="Other...">
            <menu
                  icon="icons/database_go.png"
                  label="Export">
               <command
                     commandId="org.eclipse.emf.emfstore.client.ui.exportProject"
                     icon="icons/database_go.png"
                     label="Export Project"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                           </instanceof>
                        </iterate>
                        <count
                              value="1">
                        </count>
                     </and>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.eclipse.emf.emfstore.client.ui.exportChanges"
                     icon="icons/database_go.png"
                     label="Export Changes"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                                 value="true">
                           </test>
                        </iterate>
                        <count
                              value="1">
                        </count>
                     </and>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.eclipse.emf.emfstore.client.ui.exportProjectSpace"
                     icon="icons/database_go.png"
                     label="Export Projectspace"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                           </instanceof>
                        </iterate>
                        <count
                              value="1">
                        </count>
                     </and>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.eclipse.emf.emfstore.client.ui.exportWorkSpace"
                     icon="icons/database_go.png"
                     label="Export Workspace"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <or>
                           <count
                                 value="0">
                           </count>
                           <count
                                 value="1">
                           </count>
                        </or>
                        <iterate>
                           <not>
                              <instanceof
                                    value="org.eclipse.emf.ecore.EObject">
                              </instanceof>
                           </not>
                        </iterate>
                     </and>
                  </visibleWhen>
               </command>
            </menu>
            <menu
                  icon="icons/folder_go.png"
                  label="Import">
               <command
                     commandId="org.eclipse.emf.emfstore.client.ui.importChanges"
                     icon="icons/folder_go.png"
                     label="Import Changes"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                                 value="false">
                           </test>
                        </iterate>
                        <count
                              value="1">
                        </count>
                     </and>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.eclipse.emf.emfstore.client.ui.importProject"
                     icon="icons/folder_go.png"
                     label="Import Project"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <or>
                           <count
                                 value="0">
                           </count>
                           <count
                                 value="1">
                           </count>
                        </or>
                     </and>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.eclipse.emf.emfstore.client.ui.importProjectSpace"
                     icon="icons/folder_go.png"
                     label="Import Projectspace"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <or>
                           <count
                                 value="0">
                           </count>
                           <count
                                 value="1">
                           </count>
                        </or>
                        <iterate>
                           <not>
                              <instanceof
                                    value="org.eclipse.emf.ecore.EObject">
                              </instanceof>
                           </not>
                        </iterate>
                     </and>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.eclipse.emf.ecp.navigator.importModel"
                     icon="icons/folder_go.png"
                     label="Import Model Element"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <instanceof
                                 value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                           </instanceof>
                        </iterate>
                        <count
                              value="1">
                        </count>
                     </and>
                  </visibleWhen>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.emf.emfstore.client.ui.compareProjects"
                  icon="icons/compare.png"
                  label="Compare to ..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.emf.emfstore.client.ui.NewLocalProject"
                  icon="icons/serverAdd.png"
                  label="New Project..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <or>
                        <count
                              value="0">
                        </count>
                        <count
                              value="1">
                        </count>
                     </or>
                     <iterate>
                        <or>
                           <instanceof
                                 value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.emf.emfstore.common.model.Project">
                           </instanceof>
                        </or>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
         </menu>
         <menu
               label="label">
         </menu>
         <separator
               name="org.eclipse.emf.emfstore.client.ui.scmCommands"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.projectProperties"
               label="Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.emfstore.client.ui.commands.projectIsShared"
                           value="true">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.navigator.viewer?after=org.unicase.ui.stem.ShowInStatusView">
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.commands.showHistory"
               icon="icons/historyview.png"
               label="Show History"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <reference
                           definitionId="org.eclipse.emf.ecp.common.commands.modelElement">
                     </reference>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.emfstore.client.ui.commands.showHistoryViewSeperator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.emf.ecp.editor.MEEditorPage?after=additions">
         <command
               commandId="org.eclipse.emf.emfstore.client.ui.commands.showHistory"
               icon="icons/historyview.png"
               label="Show History"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.ecp"
            name="ECP">
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.common.menuContributionEnablement">
      <MenuContributionEnablement
            enabled="false">
      </MenuContributionEnablement>
   </extension>

</plugin>
